# Build artifacts
**/bin/
**/obj/
**/out/
**/dist/

# Dependencies
**/node_modules/
**/.vs/
**/.vscode/
**/.idea/

# Source Control
.git/
.gitignore

# Environment & Secrets
.env*
appsettings.Development.json

# Docker specific
Dockerfile
docker-compose.yml
.docker/
